  <div class="group">
    <%= f.label :title, "Назва", :class => :label %>
    <%= f.text_field :title, :class => 'text_field' %>
    <span class="description">Напр. <i>робота</i></span>
  </div>
  <div class="group">
    <%= f.label :color, "Колір", :class => :label %>
    <%= f.text_field :color, :class => 'text_field' %>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Зберегти &rarr;" /> або <%= link_to 'скасувати', categories_path %>
</div>
<%= javascript_include_tag 'colorpicker' %>
<% javascript_tag do -%>
$(document).ready(function(){
	$('#category_color').ColorPicker({
	  onSubmit: function(hsb, hex, rgb) {
		$('#category_color').val(hex);
	  },
	  onBeforeShow: function () {
		$(this).ColorPickerSetColor(this.value);
	  }
	 })
	.bind('keyup', function(){
	  $(this).ColorPickerSetColor(this.value);
	});
});
<% end -%>