<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'Список', categories_path %></li>
      <li><%= link_to 'Додати нову', new_category_path %></li>
      <li class="active"><%= link_to 'Змінити', edit_category_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">            
    <h2 class="title">Змінити категорію</h2>
    <div class="inner">
	  <%=error_messages_for "category"%>
      <% form_for @category, :url => category_path(@category), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
