<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Zвіттер</title>
	<%= stylesheet_link_tag 'web_app_theme', "themes/Warehouse/style" %>
</head>
<body id="welcome">
	<div id="container">
		<div class="background"></div>
		<div class="clear"></div>	
		<div class="header">
			<div id="logo-container"><a href="" class="logo" /></div>
			<div id="login-actions"><%= link_to 'Увійти', login_path %> / <%= link_to 'Зареєструватись', signup_path %></div>
			<div class="clear"></div>
		</div>
		<div id="main">
			<h3>Zвіттер дозволяє вести облік затраченого часу з метою більш оптимального його використання</h3>
			<ul>
				<li>
					Створюйте категорії для кожного виду діяльності
					<%=image_tag "create-categories.png"%>
				</li>
				<li>
					Звітуйте витрачений час по кожній із категорій
					<%=image_tag "report-activities.png"%>
				</li>
				<li>
				Переглядайте статистику за будь-який період часу
				<%=image_tag "view-statistics.png"%>
				</li>
			</ul>
			<div id="register-button">
				<%= link_to '', signup_path %>
			</div>
		</div>
		<div class="clear" />
		<div class="footer">
			&copy; 2009 Zвіттер, Школа Реалізації Ідей. Роман Кушнір та Павло Мащак
		</div>
	</div>
</body>
</html>